<%= content_tag :div,
  id: 'elm-main',
  data: {
    todays_tasks: @todays_tasks_json,
    big_tasks: @big_tasks_json,
    statistics: @statistics_json
  } do %>
<% end %>

<%= javascript_pack_tag 'elm' %>
