
<div class="columns is-centered">
  <div class="column is-5 is-centered">
    <% if ENV['STAGING'] %>
      <div class="notification is-warning">
        <h4 class='title is-4'>警告</h4>
        <ul>
          <li>このアプリケーションは開発中のものです</li>
          <li>この環境はステージングです　データがリセットされる可能性があります</li>
          <li>このアプリケーションは1日の内12時間しか稼働することができません</li>
          <li>お問い合わせは<a href="https://twitter.com/messages/compose?recipient_id=2599776128" target="_blank">こちら</a></li>
        </ul>
        </div>
      <% end %>



    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :username, class: 'label' %>
        <div class="control">
          <%= f.text_field :username, class: 'input', autofocus: true %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <p class="control">
          <%= f.password_field :password, class: 'input', autocomplete: "off" %>
        </p>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="field">
      <p class="control">
        <%= f.submit "Log in", class: 'is-success button' %>
      </p>
    </div>
      <div class="actions">

      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
