<!DOCTYPE html>
<html>
  <head>
    <title>TomatoTodo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'stylesheet' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' unless user_signed_in? %>


    <%= yield %>
  </body>
</html>
